body {
    margin: 0;
    height: 100%;
    color: #fff;
    text-shadow: 0 2px 0 #000;
    background-image: url('../images/bkgs/bkg1.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #000;
}

#ei_title {
    position:absolute;
    height: 1.5em;
    top: 100px;
    text-shadow: 0 2px 0 #000, -10px 10px 10px #000;
    font-family: 'Sanchez', serif;
    font-size: 2.5em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#ei_socialMedia {
    z-index: 9999;
    position: fixed;
    bottom: 10px;
    right: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#ei_menu {
    position: absolute;
    top: 160px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ei_menuItem {
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
    color: #4f4;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px dotted #555;
    font-family: 'Special Elite', sans-serif;
    font-size: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ei_menuItem:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}
.ei_menuItem:active {
    color: #aaa;
}

iframe {
    box-shadow: -10px 20px 30px #000;
    background-color: #000;
}
#ei_videoBrowser {
    position: absolute;
    right: 20px;
    top: 70px;
    width: 500px;
    height: 300px;
    display: none;
}
#ei_nextVideo {
    z-index: 100;
    position: absolute;
    right: 20px;
    top: 400px;
    width: 75%;
    border-radius: 2px;
}
.ei_inventoryImage {
    cursor: pointer;
    border-radius: 100%;
    float: right;
    transform: rotate(15deg);
    -ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Safari and Chrome */
    -o-transform: rotate(15deg); /* Opera */
    -moz-transform: rotate(15deg); /* Firefox */
}
.ei_inventoryImage:hover {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari and Chrome */
    -o-transform: rotate(0deg); /* Opera */
    -moz-transform: rotate(0deg); /* Firefox */
}

#ei_ytVideo {
    position: absolute;
    right: 20px;
    top: 70px;
    width: 500px;
    height: 300px;
    border:0;
    background-color: #000;
}
#ei_ytImage {
    position: absolute;
    z-index: 999;
    top: -30px;
    right: 320px;
    display: none;
    cursor: se-resize;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#ei_ytDescription {
    cursor: n-resize;
    font-family: Cardboard;
    position: absolute;
    z-index: 999;
    top: 250px;
    right: 50px;
    width: 390px;
    padding-left: 10px;
    height: 120px;
    color: #222;
    text-shadow: 0 0 0 #000;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: -10px 10px 50px #000;
    background-image:url('../images/bkgs/cardboard.jpg');
    background-position: right top;
    background-repeat: no-repeat;
    display: none;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#ei_tableImage {
    z-index: -1;
    position: absolute;
    top: 340px;
    right: 0;
    display: none;
}

.aboutUs {
    margin: 20px;
    display: none;
}
.ei_aboutUsImage {
    z-index: 50;
    position: absolute;
    right: 55%;
}
.ei_aboutUsName {
    z-index: 100;
    position: absolute;
    font-family: 'Homemade Apple';
    font-size: 2em;
    padding: 0 10px 0 10px;
    color: #222;
    text-shadow: 0 0 0 #000;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: -10px 10px 20px #000;
    
    background-image:url('../images/bkgs/cardboard.jpg');
    background-repeat: no-repeat;
    
    transform: rotate(15deg);
    -ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Safari and Chrome */
    -o-transform: rotate(15deg); /* Opera */
    -moz-transform: rotate(15deg); /* Firefox */
    
}
.ei_aboutUsBio {
    z-index: 0;
    position: absolute;
    font-family: 'Sanchez', serif;
    font-size: 1em;
    width: 50%;
    right: 20px;
}

#ei_aboutUsName_1 {
    top: 400px;
    right: 20px;
    display: block;
}
#ei_aboutUsImage_1 {
    top: 240px;
    right: 0;
    border-radius: 10px;
    display: block;
}
#ei_aboutUsBio_1 {
    top: 300px;
    right: 175px;
    display: block;
}

#ei_aboutUsName_2 {
    top: 600px;
    right: 55%;
    display: block;
}
#ei_aboutUsImage_2 {
    top: 440px;
    border-radius: 10px;
    display: block;
}
#ei_aboutUsBio_2 {
    top: 600px;
    display: block;
}

#ei_aboutUsName_0 {
    top: 160px;
    right: 55%;
    display: block;
}
#ei_aboutUsImage_0 {
    top: 0;
    border-radius: 10px;
    display: block;
    
}
#ei_aboutUsBio_0 {
    top: 10px;
    display: block;
}

#ei_aboutUs {
    z-index: -1;
    position: absolute;
    top: 200px;
    right: 300px;
    width: 66%;
    height: 100%;
    border-radius: 100% 100% 0 0;
    border-top: 1px solid #000;
    box-shadow: inset 100px 100px 200px #000, -10px -10px 40px #111;
    display: none;
    
}